/* ============================================================

	DOCUMENT INFORMATION
		- Document: Sam Templeman Web Portfolio
		- Version:	0.1
		- Date:		August 2012
		- Author:	Needle Hoffenheimer

	CSS DIRECTORY
		1. =IMPORTS

	HACK DIRECTORY

	FONTS
   	- default body text :	Open Sans Condensed, sans-serif

	============================================================ */




// IMPORTS

@import "base";

html { height: 100%; }

body { 
	min-height: 100%;
	background: image-url('top-tile.png') repeat-x center top,
							image-url('body-tile.png') center top;
	// height: 2000px;
	font: 24px/32px 'Open Sans Condensed', sans-serif;
	color: $body-copy; 
	}

p { margin-bottom: 30px; }

a {
	color: $body-copy;
	text-decoration: none;
	&:active, &:hover {
		color: #fff;
		}
	}

a.active { color: #fff; }

.small { font-size: .8em; }

h3 {
	font-size: 1.3em;
	font-weight: normal; }

header { 
	// margin-top: 194px;
	}

span.hero-text { 
	display: block;
	margin: 30px 0 0 0;
	@include replace-text-with-dimensions('hero-text.png');
	}

.container {
	padding: 165px 0 0 0;
	position: relative;
	z-index: 10;
	width: 800px;
	margin: 0 auto;
	h2 {
		margin-top: 1.5em;
		}
	}

#jellyfish {
	background: image-url('jellyfish.png') no-repeat top left;
	position: absolute;
	width: 356px;
	height: 337px;
	top: 700px;
	left: 500px;
	}

.creations {
	background: image-url('ammonite.png') no-repeat top left;
	}

#creations-header {
	@include replace-text-with-dimensions('creations.png');
	}

.logbook {
	background: image-url('angler.png') no-repeat top left;
	}

#logbook-header {
	@include replace-text-with-dimensions('logbook.png');
	}

.biographical {
	background: image-url('cuttlefish.png') no-repeat top left;
	}

#biographical-header {
	@include replace-text-with-dimensions('biographical.png');
	}

footer {
	background: image-url('seabed.png') repeat-x;
	}

#lights {
	position: absolute;
	top: 0;
	// height: 16167px - 375px;
	height: 15512px;
	left: 0;
	z-index: 1;
	width: 100%;
	}

.block {
	padding: 0 0 0 200px;
	margin-bottom: 3000px;
	}

section.last-child {
	margin: 0; }

.work-item {
	padding: 0 0 40px 140px;
	}

.umc {
	background: image-url('umc-icon.png') no-repeat top left;
}

.psp {
	background: image-url('psp-icon.png') no-repeat top left; }

.mo {
	background: image-url('mo-icon.png') no-repeat top left; }

nav {
	position: fixed;
	left: 0;
	top: 194px;
	z-index: 100;
	font-size: .8em;
	ul {
		margin: 0 0 0 -3px;
		padding: 0;
		li {
			border: 1px solid $body-copy;
			margin: 0 0 -1px 0;
			&:last-child {
				border: none;
				padding: 20px 0 20px 20px;
				}
			a {
				display: block;
				padding: 20px;
				}
			}
		}
	}


#test {
	// needs latest Compass, add '@import "compass"' to your scss
	@include filter-gradient(#000000, #000716, vertical); // IE6-8
	// IE9 SVG, needs conditional override of 'filter' to 'none'
	$experimental-support-for-svg: true;
	@include background-image(linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,7,22,1) 100%));
	}
